<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Add Patients</h2>
  <form action="/patientpost"method ="POST">
    <div class="form-group">
      <label for="fullname">Full Name:</label>
      <input type="text" class="form-control" id="fullname" placeholder="Enter Full Name" name="fullname">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" id="age" placeholder="Enter age" name="age">
    </div>
        <div class="form-group">
      <label for="dateofvisit">Date of Visit:</label>
      <input type="date" class="form-control" id="dateofvisit" placeholder="Enter Date of visit" name="dateofvisit">
    </div>
     <div class="form-group">
      <label for="casedesc">case description:</label>
      <input type="text" class="form-control" id="casedesc" placeholder="Enter case description" name="casedesc">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

Click <a href="/"> HERE</a> to return to home page
<br>Click <a href="/listpatient"> HERE</a> to patient List page</br>

</body>
</html>