<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Delete Patients</h2>
  <form action="/deletepatient"method ="POST">
    <div class="form-group">
      <label for="fullname">Full Name:</label>
      <input type="text" class="form-control" id="fullname" placeholder="Enter Full Name" name="fullname">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

Click <a href="/"> HERE</a> to return to home page
<br>Click <a href="/listpatient"> HERE</a> to patient List page</br>

</body>
</html>