<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <img src="clinic.jpg" width="400" height="400" />
  <h1>FIT 2095 CLINIC</h1>
  <p>WELCOME TO FIT2095 CLINIC</p> 
</div>
<div class="container">
  <h2>Catalog</h2>
  <a href="/adddoctor" class="btn btn-primary btn-lg" role="button">Add doctors</a>
  <a href="/addpatient" class="btn btn-primary btn-lg"role="button">Add Patient</a>
  <a href="/listpatient" class="btn btn-primary btn-lg"role="button">List Patient</a>
  <a href="/listdoctor" class="btn btn-primary btn-lg"role="button">List doctor</a>
  <a href="/deletepatient" class="btn btn-primary btn-lg"role="button">Delete Patient</a>
  <a href="/updatedoctor" class="btn btn-primary btn-lg"role="button">update doctor</a>
  <a href="/listdoctor1" class="btn btn-primary btn-lg"role="button">List doctor with number of patient less than 5</a>
</div>  


</body>
</html>